:root {
    --primary-color: rgb(255, 165, 0);
    --secondary-color: rgb(0,0,255);
    --third-color: white;
    --primary-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --box-background: rgba(0,0,0,0.7);
}

* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    background-color: azure;
    height: 80px;
    position: fixed;
    z-index: 30;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

nav {
    margin: 0;
    padding: 0;
    height: 80px;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

a {
    text-decoration: none;
}
.index-header {
    background-color: rgba(0,0,0,0);
}
.index-header-items {
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: flex-end;
    background-color: azure;
    width: 100%;
}

#header-logo {
    justify-content: flex-start;
    align-items: center;
}

#header-logo img {
    width: 25vw;
}
.header-item {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-family: var(--primary-font);
    font-size: 20px;
    color: black;
    border-bottom: 2px solid white;
    padding-bottom: 0;
    margin-top: -10px;
    padding-bottom: 5px;
    transition-duration: 0.5s;
    position: relative;
    width: 15vw;
}

.header-item:hover {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translatey(-10px);
    cursor: pointer;
    height: 60px;
    background-color: rgba(128, 128, 128, 0.5);
}

.header-item a {
    text-decoration: none;
    color: white;
}

.header-item img {
    height: 40px;

}

@media (max-width: 800px) {
    #header-logo {
        display: none;
    }
}

.hidden {
    display: none;
    background-color: var(--box-background);
}

#dropdown-list {
    top: 130%;
    border-radius: 20px;
    position: absolute;
    width: 300px;
    height: auto;
    padding: 20px;
}

#dropdown-list li {
    display: flex;
    flex-direction: row;
    height: 50px;
    list-style: none;
    padding: 10px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-radius: 10px;
    transition-duration: 0.5s;
}

#dropdown-list li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);

}

#dropdown-list li i {
    height: 50px;
    color: orange;
}

@media (max-width: 800px) {
    .header-item {
        font-size: 15px;
        flex-direction: row;
    }

    .header-item img {
        height: 30px;
    }
}